<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<PersonalInformation>
    <emailPassword>Sportingcampeao</emailPassword>
    <email>projetoes1@outlook.pt</email>
    <facebookToken>EAAFBpVUIgNIBAFCvP5salaEZA2SdtFPkLxJykkiyHHzLSQgZCk3cl3fG4AzerwjM1mY6bXcnxVzxfavR8KhaKYZCkZB5aMRyXgSMAnelct7v7wzAdGcjVbC1CLZC9ZA3eZCUPUXm4PIPBAeZCbpKgmhbsPBmJLYphPdpm7kKzm2Y5EEfVsnkBNuy</facebookToken>
    <twitterToken>nenhum</twitterToken>
</PersonalInformation>
